<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937513767406-eej8mh3q0092ovemata699vcs58okn3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937513767406-eej8mh3q0092ovemata699vcs58okn3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>937513767406-4gi3gqoi75pmmivl62h1q3femi0rh6ab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Vm-9yfg_S5x9RnB1xYfcTEUFIgaMUj0</string>
	<key>GCM_SENDER_ID</key>
	<string>937513767406</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.beenThere</string>
	<key>PROJECT_ID</key>
	<string>beenthere-f863f</string>
	<key>STORAGE_BUCKET</key>
	<string>beenthere-f863f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937513767406:ios:62bf86db09f1ac30d7beff</string>
</dict>
</plist>